a {
  text-decoration: none;
}


.container {

width: 100%;

height: 100%;

background-color: #ffffff;
}
.navbar {

  width: 100%;
  height: 120px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: relative;
  margin: 0;
  display: inline-block;
  position: relative;
  z-index: 30;
}

.navbar-content {

margin: 34px 0 33px 0;

height: 53px;
}

.navbar-brand {
  width: 279px;
  height: 53px;
  display: inline-block;
  margin-left: 63px;
}

.navbar-title {

font-family: Roboto;

font-size: 45px;

font-weight: bold;

font-style: normal;

font-stretch: normal;

line-height: 0.98;

letter-spacing: normal;

text-align: left;

color: #0883ce;

float: left;
}

.navbar-menu {

width: 710px;

height: 53px;

font-family: Roboto;

font-size: 45px;

font-weight: bold;

font-style: normal;

font-stretch: normal;

line-height: 0.98;

letter-spacing: normal;

text-align: left;

color: #0883ce;

margin-left: 22%;

display: inline-block;
}

.navbar-menu-item {
      
width: auto;
      
height: 18px;
      
font-family: Roboto;
      
font-size: 15px;
      
font-weight: 500;
      
font-style: normal;
      
font-stretch: normal;
      
line-height: 1.2;
      
letter-spacing: 0.75px;
      
text-align: left;
      
color: #0883ce;
      
margin: 17px 18px 18px 0px;
      
display: inline-block;
      
float: left;


}

.navbar-menu-item-button {

width: 180px;

height: 40px;

border-radius: 5px;

background-color: #f8a557;

margin: 6px 24px 7px 5px;

cursor: pointer;

display: inline-block;

float: left;

border: 0;

}

.navbar-menu-item-btn {
  
  width: 11.6px;
  height: 6px;
  object-fit: contain;
  margin-left: 9px;
}

.navbar-menu-item-button-login {

  width: 180px;

  height: 40px;

  border-radius: 5px;

  background-color: #ffffff;

  border: solid 2px #f8a557;

  margin: 6px 27px 7px 5px;

  cursor: pointer;

  display: inline-block;

  float: left;

  

}

.style-button {
 
  width: 282px;
  height: 54px;

}

.navbar-menu-item-button-login span{

    width: 45px;
    height: 18px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.75px;
    text-align: left;
    color: #f8a557;
    
  

}

.navbar-menu-item-button span {

width: 88px;

height: 18px;

font-family: Roboto;

font-size: 15px;

font-weight: 500;

font-style: normal;

font-stretch: normal;

line-height: 1.2;

letter-spacing: 0.75px;

text-align: left;

color: #ffffff;

display: inline-block;
}

.content {

height: 527px;

background-image: linear-gradient(to bottom, #00609b, #0883ce);

border-bottom-left-radius: 40%;

border-bottom-right-radius: 40%;

width: 100%;
}

.content .title {

width: 100%;

height: 80.7px;

font-family: Roboto;

font-size: 65px;

font-weight: 300;

font-style: normal;

font-stretch: normal;

line-height: 1.17;

letter-spacing: 3.25px;

text-align: center;

color: #ffffff;

text-transform: uppercase;

margin-top: 90px;

display: inline-block;

}

.content .subtitle {

width: 100%;

height: 111px;

font-family: BebasNeue;

font-size: 115px;

font-weight: normal;

font-style: normal;

font-stretch: normal;

line-height: 1.2;

letter-spacing: 14.95px;

text-align: center;

color: #ffffff;

text-transform: uppercase;

display: inline-block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .container-2 {

position: relative;

text-align: center;

top: 147px;
}
.container .container-2-img {

width: 792px;

height: 338px;

object-fit: contain;

box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

background-color: #ffffff;

margin-top: 85px;
}

.container-2-title {
  width: 455px;
  height: 53px;
  font-family: Roboto;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 2.1px;
  text-align: left;
  color: #0883ce;
  position: absolute;
  display: inline-block;
  margin-bottom: 21px;
}

.container-2-btn {

width: 29.4px;

height: 23.5px;

object-fit: contain;

display: inline-block;

vertical-align: middle;
}

.container-2 ul {

display: inline-block;

float: left;

list-style-type: none;

margin-top: 109px;

margin-left: 17px;
}

.container-2-subtitle {
  width: 472px;
  height: 23px;
  font-family: Karla;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #0883ce;
  display: inline-block;
  margin-left: 23.5px;
}
.container-2-subtitle-2 {
  width: 470px;
  height: 23px;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #0883ce;
  display: inline-block;
  margin-left: 23.5px;
}
.text-style-bold {
  font-weight: bold;
}

.text-style-normal {
  font-weight: normal;
}

.container-3 {

width: 100%;

font-family: Roboto;

font-size: 45px;

font-weight: bold;

font-style: normal;

font-stretch: normal;

line-height: 1.2;

letter-spacing: 1.8px;

text-align: center;

color: #0883ce;

position: relative;

display: inline-block;

margin-bottom: 37px;
}

.container-3-title {

margin-top: 11%;

display: inline-block;

}

.container-3 .columns {

  margin-left:83px;
  
  margin-top:32px;

  margin-right:83px;
  

}

.container-4 {

width: 100%;

height: 304px;

background-color: #e8edf3;

position: relative;
}

.container-4-title {
  width: 968px;
  height: 79px;
  font-family: Roboto;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: 2.7px;
  text-align: center;
  color: #0883ce;
  top: 25%;
  left: 25%;
  position: absolute;
}

.container-4-btn {

margin-top: 2%;
}

.container-4-btn span{
  
width: 105px;
  
font-size: 18px;
  
font-weight: 500;
  
font-style: normal;
  
font-stretch: normal;
  
line-height: 1.17;
  
letter-spacing: 0.9px;
  
text-align: left;

}

.container-5 {

width: 100%;

height: 900px;

object-fit: contain;

position: relative;
}

.container-5-img {
  
margin-top: 105px;
  
height: 100%;
}

.container-5-title {
  
width: 431.7px;
  
height: 164px;
  
font-family: Roboto;
  
font-size: 45px;
  
font-weight: bold;
  
font-style: normal;
  
font-stretch: normal;
  
line-height: 1.18;
  
letter-spacing: 2.7px;
  
text-align: left;
  
color: #ffffff;
  
position: absolute;
  
top: 39%;
  
left: 28%;
  
transform: translate(-50%, -50%);
}

.container-5-subtitle {

  width: 428px;
  height: 45px;
  font-family: Karla;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}

#form-partner {
  margin-top: 18%;
}

.container-5-form {

width: 485.2px;

height: 103%;

box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

background-color: #ffffff;

position: absolute;

left: 56%;

top: 10%;
}

.container-5-form-label {

width: 80px;

height: 19px;

font-family: Roboto;

font-size: 18px;

font-weight: 500;

font-style: normal;

font-stretch: normal;

line-height: 1.19;

letter-spacing: 0.8px;

text-align: left;

color: #00609b;

margin-left: 8%;
}

.container-5-form-input {

width: 85.3%;

height: 60px;

border: solid 1px rgba(112, 112, 112, 0.25);

background-color: #ffffff;

margin-left: 8%;

margin-bottom: 11%;
}

.container-5-form-textarea {
  width: 405.5px;
  height: 105px;
  border: solid 1px rgba(112, 112, 112, 0.25);
  background-color: #ffffff;
  margin-left: 9%;
}

.container-5-form-textarea::placeholder {

  width: 178px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: 0.8px;
  text-align: left;
  color: rgba(38, 50, 56, 0.5);

}

.container-5-form-btn {

width: 282px;

height: 53px;

border-radius: 5px;

border: solid 2px #f8a557;

background-color: #f8a557;

font-family: Roboto;

font-size: 18px;

font-weight: 500;

font-style: normal;

font-stretch: normal;

line-height: 1.17;

letter-spacing: 0.9px;

color: #ffffff;

margin-left: 22%;

margin-top: 13%;
}

.container-5 ul {
  display: inline-block;
  float: left;
  margin-top: 109px;
  margin-left: 17px;
  position: absolute;
  top: 60%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.container-5 ul li {
 
font-size: 18px;
 
color: #ffffff;
}

.container-6 {

  width: 100%;
  
  height: 292px;
  
  background-color: #ffffff;
  
  margin-top: 10%;
  }

.container-7 {

width: 100%;

height: 195px;

background-color: #e8edf3;

margin-top: 10%;
}

.container-7-title {

width: 187px;

height: 21px;

font-family: Roboto;

font-size: 18px;

font-weight: 500;

font-style: normal;

font-stretch: normal;

line-height: 1.17;

letter-spacing: 0.72px;

text-align: left;

color: #263238;

left: 60%;

position: absolute;

transform: translate(-50%);

margin-top: 3%;
}

.app-store {
  width: 198px;
  height: 57.7px;
  object-fit: contain;
  position: absolute;
  left: 44%;
  margin-top: 5.49%;
}

.google-play-badge {
  width: 227px;
  height: 88px;
  object-fit: contain;
  position: absolute;
  left: 60%;
  margin-top: 4.2%;
}

.container-8 {
  width: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  height: 97px;
}

.linkedin {
  width: 28px;
  height: 27.1px;
  object-fit: contain;
  /* background-color: #0976b4; */
  position: absolute;
  left: 49%;
  margin-top: 33px;
}

.twitter {
  width: 28px;
  height: 22.8px;
  object-fit: contain;
  /* background-color: #55acee; */
  position: absolute;
  left: 53%;
  margin-top: 38px;
}

.container-8-title {
  
width: 161px;
  
height: 19px;
  
font-family: Roboto;
  
font-size: 16px;
  
font-weight: normal;
  
font-style: normal;
  
font-stretch: normal;
  
line-height: 1.19;
  
letter-spacing: 0.64px;
  
text-align: left;
  
color: rgba(38, 50, 56, 0.53);
  
position: absolute;
  
left: 61%;
  
margin-top: 40px;
}



.illu01 {
  width: 384px;
  height: 100%;
  object-fit: contain;
  margin-left: 83px;
  margin-top:37px;
}

.illu02 {
  width: 338.8px;
  height: 100%;
  object-fit: contain;
  margin-top:69px;
}

.illu03 {
  width: 384px;
  height: 100%;
  object-fit: contain;
  margin-top:32px;
  
}


.illu01 img {
  
  margin-bottom:25.6px;
}

.illu02  img{
  margin-bottom:58.5px;
}

.illu03 img{
  margin-bottom:21.6px;
}



.illu01 .column-title {
  width: 384px;
  height: 31px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  color: #f8a557;
}
.illu01 .column-subtitle {
  width: 364px;
  height: 56px;
  font-family: Karla;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #263238;
  
}

body {
  display: inline-block;
}
.illu01 .column-btn {
  width: 23.8px;
  height: 23.8px;
  object-fit: contain;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.to_nav {
  display: none;
}



@media screen and (min-width:769px),print{.columns:not(.is-desktop){display:flex}}


.is-three {
  flex: none;
  width: 60%;
}


@media screen and (max-width: 768px) {

  .container .container-2-mobile {
    opacity: 0.2;
  }

  .container-3-mobile {
    opacity: 0.2;
  }
  .container-4-mobile {
    opacity: 0.2;
  }
  .container-5-mobile {
    opacity: 0.2;
  }

  .container-6-mobile {
    opacity: 0.2;
  }

  .container-2-title-mobile {
    display: none;
    
  }

  .content-mobile {
    height: 527px;
    background-image: none;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 95%;
    margin-top: -32%;
  }
  
  .container-2-btn {
    
    width: 29.4px;
    height: 23.5px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    left: 4%;
    position: absolute;
    margin-top: 4%;
   
  }

  .container-5-title {
    width: 301.7px;
    height: 164px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 2.1px;
    text-align: left;
    color: #ffffff;
    top: 10%;
    left: 49%;
}

  .container-5 ul {
    width: 281.1px;
    height: 45px;
    font-family: Karla;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    top: 13%;
    left: 40%;
}

  #form-partner {
    margin-top: 9%;
  }

  .container-5-form-input {
   
    margin-bottom: -1%;
  }
  
  .container-5-form-btn {
    width: 414px;
    height: 53px;
    border-radius: 5px;
    border: solid 2px #f8a557;
    background-color: #f8a557;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.9px;
    color: #ffffff;
    margin-left: 8%;
    margin-top: 13%;
  }

  .container-5 {
    width: 100%;
    height: 900px;
    object-fit: contain;
    position: relative;
    height: 1077px;
    object-fit: contain;
    background-image: url(../img/rectangle-149.svg);
  }

  .container-5-form {
    width: 485.2px;
    height: 57%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    position: absolute;
    left: 20%;
    top: 47%;
  }

  .container-5-img {
      
    display: none;
  }

  .container-6 {
    width: 100%;
    height: 292px;
    background-color: #ffffff;
    margin-top: 10%;
  
  }
  .container-7 {
    width: 100%;
    height: 258.2px;
    background-color: #e8edf3;
  }

  .container-7-title {
    width: 187px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.72px;
    text-align: left;
    color: #263238;
    left: 44%;
    position: relative;
    transform: translate(-50%);
    top: 14%;
  }
  .app-store {
    width: 198px;
    height: 57.7px;
    object-fit: contain;
    position: relative;
    left: 34%;
    margin-top: 7.49%;
    display: block;
  }
  .google-play-badge {
    width: 227px;
    height: 88px;
    object-fit: contain;
    position: relative;
    left: 32%;
    margin-top: 1.2%;
    display: block;
  
  }
  .linkedin {
    width: 28px;
    height: 27.1px;
    object-fit: contain;
   
    position: absolute;
    left: 59%;
    margin-top: 33px;
  }

  .twitter {
    width: 28px;
    height: 22.8px;
    object-fit: contain;
    /* background-color: #55acee; */
    position: absolute;
    left: 80%;
    margin-top: 38px;
  }
  .container-8-title {
    width: 161px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 0.64px;
    text-align: left;
    color: rgba(38, 50, 56, 0.53);
    position: absolute;
    left: 126%;
    margin-top: 40px;
  }
  .container-4-btn {
    
    width: 302px;
    height: 54px;
    margin-top: 6%;
    left: 42%;
  }
 
  .container-4 {

    
    height: 394px;

  }



  .container-4-title {
    font-size: 30px;
    width: 302px;
    height: 126px
  
  }
  .container-3-title {
    margin-top: 23%;
    width: 301.9px;
    height: 134px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 1.2px;
    text-align: center;
    color: #0883ce;
  }

  .container-2 ul {
   
    display: inline-block;
    float: left;
    list-style-type: none;
    margin-top: 109px;
    margin-left: 17px;
   
  }
  .to_nav {
    width: 42px;
    height: 33px;
    object-fit: contain;
    display: inline-block;
    margin-left: 20%;
  }
  .navbar-menu {
    display:none;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  .navbar-menu-item-mobile {
    width: 100%;
    height: 18px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.75px;
    text-align: left;
    color: #0883ce;
    margin: 17px 18px 18px 7px;
    display: inline-block;
    float: left;
  }
  .navbar-menu-mobile {
    width: 183px;
    height: 53px;
    font-family: Roboto;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.98;
    letter-spacing: normal;
    text-align: left;
    color: #0883ce;
    margin-left: 22%;
    display: inline-block;
    margin-top: 5%;
  }
  .navbar-title {
    width: 180px;
    height: 34px;
    font-family: Roboto;
    font-size: 29px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #0883ce;
  }

}